body {
    width: 100%;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    link: white;
}

.container {
    width: 73.125%;
    margin: 0 auto;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}

.header {
    width:100%;
}

.header__panel {
    width: 100%;
    height: 49px;
    background-color: #3b3b3b;
}

ul {
    list-style: none;
}

li, img, div, section, select, header, footer, main, ul {
    margin: 0;
    padding: 0;
}

a {
    color: #3a3a3a;
    text-decoration: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

.panel__content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.content__switch {
    width: 98px;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid #525252;
    border-right: 1px solid #525252;
}

.content__switch_lang {
    border-left: none;
}

.content__switch_val {
    margin-left: 1px;
}

.switch__item {
    text-transform: uppercase;
    color: #ffffff;
    border: 0 solid;
    background-color: #3b3b3b;
    font: 14px/14px Ubuntu;
    font-weight: 500;
    letter-spacing: 0.009em;
    margin: 0 0 0 4px;
}

.content__login {
    width: 197px;
    height: 100%;
    line-height: 47px;
    margin: 0 1px 0 auto;
    text-align: center;
    border-left: 1px solid #525252;
    border-right: 1px solid #525252;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 400;
}

.login_link {
    color: white;
    margin: 0;
}

.login_or {
    display: inline-block;
    color: #aaaaaa;
    padding: 0 3.5%;
}

.header__nav_bar {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar__navigation {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.nav-bar__logo {
    width: 17%;
    height: 26px;
}

.logo__image {
    width: 100%;
}

.navigation__list {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.list__item-nav {
    margin: 0 0 0 6.56%;
    font-weight: 700;
}

.list__item-nav_search {
    margin-left: 46px;
}

.list__item-nav_cart {
    margin-left: 2.5%;
}

.item__image-nav_cart {
    width: 18px;
    height: 14px;
}

.item__image-nav_search {
    width: 14px;
    height: 14px;
}

.list__item-nav_list {
    display: none;
}

.list__item-nav_active {
    color: #4ab6b6;
}

.products-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__products {
    width: 73.25%;
}

.products__navigation-list {
    width: 100%;
    min-height: 99px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0;
}

.navigation-list__item {
    width: 16.43%;
    max-height: 9%;
    box-sizing: content-box;
    margin: 0;
    display: flex;
    text-align: center;
    border: 1px solid #ebebeb;
    text-transform: uppercase;
}

.navigation-list__item_active {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #4ab6b6;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #4ab6b6;
}

.item-name_active {
    color: #f0f0f0;
    vertical-align: middle;
}

.item__link {
    display: block;
    margin: auto;
    color: #3b3b3b;
    vertical-align: middle;
}

.item__link-image {
    margin-right: 11px;
    vertical-align: middle;
}

.item__link-image_bed {
    width: 29px;
    height: 26px;
}

.item__link-image_bathroom {
    width: 30px;
    height: 28px;
}

.item__link-image_living {
    width: 39px;
    height: 24px;
}

.item__link-image_kitchen {
    width: 29px;
    height: 28px;
}

.item__link-image_office {
    width: 29px;
    height: 28px;
}

.item__link-image_for-children {
    width: 29px;
    height: 30px;
}

.top__image {
    width: 100%;
    height: 652px;
    background-size: 100% 100%;
    background: url(../images/background.jpg) no-repeat center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.likes__image {
    width: 0.75vw;
    margin-right: 0.1vw;
}

.image__box {
    min-width: 41%;
    height: 23%;
}

.box__title {
    display: block;
    font: 36px/42px Ubuntu;
    font-weight: 300;
    margin-bottom: 3.5%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-align: center;
}

.btn {
    text-align: center;
    display: inline-block;
    font: 16px/50px Ubuntu;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #3b3b3b;
    color: #ffffff;
}

.box__see-all {
    width: 250px;
    background-color: #4ab6b6;
}

.mobile-hidden {
    display: none;
}

.image__see-all:hover {
    background-color: #4ab6b6;
    color: #ffffff;
}

.section__title-caption {
    margin: 0 auto;
    font: 36px/45px Ubuntu;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.section__title-text {
    color: #4ab6b6;
}

.products__all {
    display: none;
}

.main__section {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.nav__menu {
    width: 72.3%;
    height: 100px;
    margin: 1% auto 0.4% 14.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
    text-transform: uppercase;
}

.link-name {
    display: block;
    line-height: 23px;
    letter-spacing: 0.07em;
}


.item__link:hover {
    color: #4ab6b6;
}

.link-image {
    display: inline-block;
    height: 32px;
    padding: 0;
}

.item__link {
    display: inline-block;
    text-align: center;
    fill: #3b3b3b;
}

.item__link .current {
    color: #4ab6b6;
}

.products__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.list__item {
    width: 28.12%;
    margin-bottom: 19px;
    padding: 1.75%;
    position: relative;
    background-color: #f6f6f6;
}

.item__image {
    display: block;
    box-sizing: border-box;
}

.item__star {
    line-height: 8px;
    margin-top: 3px;
}

.star-full,
.star-empty {
    width: 15px;
    height: 15px;
}

.image__content {
    width: 100%;
    height: 100%;
}

.item__name {
    display: block;
    font: 1.1vw/2.5vw Ubuntu;
    color: #3a3a3a;
}

.list__item:hover {
    -webkit-box-shadow: 10px 10px 10px 0 rgba(59, 59, 59, 0.1);
    -moz-box-shadow: 10px 10px 10px 0 rgba(59, 59, 59, 0.1);
    box-shadow: 10px 10px 10px 0 rgba(59, 59, 59, 0.1);
    cursor: pointer;
}

.item-cost {
    left: 20px;
    bottom: 20px;
    font: 1.8vw/2.6vw Ubuntu;
    font-weight: 700;
    color: #3b3b3b;
}

.btn-item {
    width: 29.85%;
    position: absolute;
    right: 5.3%;
    bottom: 6.3%;
    font: 0.9vw/2.5vw Ubuntu;
    font-weight: bold;
}

.btn-item:hover {
    background-color: #4ab6b6;
    color: #ffffff;
    cursor: pointer;
}

.section__btn {
    width: 250px;
    max-height: 50px;
    display: block;
    margin: 0 auto;
}

.section__btn:hover {
    color: white;
}

.main__section_arrivals {
    padding-top: 42px;
}

.section__btn-mobile {
    display: none;
}

.btn-mobile__see-all {
    display: none;
}

.arrivals__content {
    width: 100%;
    max-width: 1450px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
}

.content__left {
    width: 48.72%;
    height: 48.72%;
    line-height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.content__right {
    width: 48.72%;
    height: 47.38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 10px;
}

.content__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 10px;
}

.bottom__left {
    width: 48.72%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.arrivals__item-square-left {
    width: 100%;
    position: relative;
    margin-right: 30px;
}

.arrivals__item-square-right {
    width: 100%;
    position: relative;
}

.arrivals__item-big {
    width: 100%;
    position: relative;
    padding: 0;
}

.arrivals__item-long {
    width: 100%;
    position: relative;
    padding: 0;
}

.arrivals__item-long-first {
    margin-bottom: 30px;
    position: relative;
}

.arrivals__item-bottom-long {
    width: 100%;
    position: relative;
}

.bottom__right {
    width: 48.72%;
}

.item__description {
    position: absolute;
    left: 20px;
    top: 19px;
    padding: 0;
}

.item__name-arrival {
    margin-top: 0;
    font: 1.1vw/1.1vw Ubuntu;
    color: #3a3a3a;
}

.item__cost {
    position: absolute;
    top: 18px;
    font: 1.9vw/2.5vw Ubuntu;
    font-weight: 700;
    color: #3b3b3b;
}

.item__cost_line {
    line-height: 2.8vw;
}

.item__image-arrival {
    width: 100%;
}

.item__content {
    width: 100%;
    height: 100%;
}

.content__image {
    width: 100%;
    height: 100%;
}

.arrivals__btn {
    width: 250px;
    display: block;
    border: 0 solid #3b3b3b;
    font: 16px/50px Ubuntu;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: #3b3b3b;
    color: white;
    margin: 0 auto;
}

.arrivals__btn:hover {
    color: white;
}

.main__section_video {
    width: 100%;
    padding: 41px 0 0 0;
}

.video__gallery {
    width: 72%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    margin: 31px auto;
    position: relative;
}

.player__right {
    width: 29.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right__link {
    width: 100%;
    height: 100%;
    max-height: 170px;
}

.right__link:first-child {
    margin-bottom: 20px;
}

.right__image {
    width: 100%;
    height: 100%;
}

.video__player {
    width: 69%;
    height: 100%;
    max-height: 360px;
}

.player__content {
    height: 100%;
    max-height: 360px;
}

.video__player .plyr__video-wrapper {
    height: 100%;
    max-height: 360px;
    position: relative;
    background: none;
    border-radius: inherit;
}

.video__player .plyr--audio .plyr__controls button.tab-focus:focus,
.video__player .plyr--audio .plyr__controls button:hover,
.video__player .plyr__play-large {
    background: rgba(255, 255, 255, 0);
    color: #fff;
}

.video__player .plyr__play-large svg {
    position: relative;
    left: 2px;
    width: 38px;
    height: 38px;
    display: block;
    fill: #ffffff;
}

.video__player .plyr__play-large {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -2px;
    transform: translate(-50%,-50%);
    padding: 28px;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

.video__player .plyr__controls button svg {
    width: 22px;
    height: 22px;
    display: block;
    fill: #ffffff;
}

.video__player .plyr__time .plyr__time--current {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
    bottom: 45px;
    right: 48px;
}

.video__player .plyr__time .plyr__time--duration {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    right: -20px;
}

.video__player .plyr__time+.plyr__time {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.video__player .plyr__sr-only {
    position: absolute;
    right: 20px;
    bottom: 45px;
}

.video__player .plyr__time+.plyr__time {
    content: "\2044 3:05";
    font-size: 11px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    bottom: 45px;
    right: 22px;
}

.plyr input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -4px;
    position: relative;
    height: 0;
    width: 0;
    background: transparent;
    border-radius: 100%;
    box-sizing: border-box;
}

.video__player .plyr,
.video__player .plyr video {
    height: 100%;
    max-height: 360px;
    vertical-align: middle;
    border-radius: inherit;
    position: relative;
}

.video__player .plyr--video .plyr__controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 50px 12px 13px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.5));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: #fff;
    transition: opacity .3s ease;
}

.video__name {
    display: block;
    font: 16px/16px Ubuntu;
    font-weight: 700;
    text-transform: uppercase;
}

.video__time {
    display: inline-block;
    font: 14px/14px Lato;
    color: #8b8b8b;
    margin: 0;
    vertical-align: middle;
    letter-spacing: 0.008em;
}

.video__likes {
    display: inline-block;
    min-width: 45px;
    height: 1vw;
    border: none;
    background-color: #ffffff;
    font: 0.9vw/0.7vw Lato;;
    color: #8b8b8b;
    margin: 0 1.4vw 0 1.25vw;
}

.video__comments-on {
    display: inline-block;
    min-width: 100px;
    height: 2.8vw;
    border: none;
    background-color: #ffffff;
    font: 14px Lato;
    color: #8b8b8b;
    margin: 0 22px;
}

.video__comments-on:hover,
.video__likes:hover {
    cursor: pointer;
}

.video__comments-on:active,
.video__likes:active {
    cursor: pointer;
    border: none;
}

.comments__show {
    display: inline-block;
    width: 93.5%;
    margin-top: 16px;
    padding: 0;
    background-color: #f0f0f0;
    font-weight: 300;
    color: #3b3b3b;
    text-align: left;
    vertical-align: top;
    border: none;
}

.show__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.7vw;
    color: #8b8b8b;
    font-weight: 400;
    font: 0.9vw/1.7vw Ubuntu;
}

.show__image {
    width: 1.2vw;
    height: 0.6vw;
    margin: 0;
    padding: 0.5vw 0.9vw;
    float: right;
}

.main__comments {
    display: block;
    width: 73%;
}

.comments__block {
    width: 100%;
    margin-top: 42px;
}

.block__user {
    width: 100%;
    margin-bottom: 37px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.block__user:nth-child(2) {
    margin-bottom: 43px;
}

.user__image {
    width: 8.2%;
    height: 8.2%;
    float: left;
}

.user__content {
    display: inline-block;
    max-width: 650px;
    min-height: 75px;
    padding-left: 30px;
}

.paragraph__name {
    display: inline-block;
    float: left;
    font: 14px/13px Ubuntu;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.paragraph__time {
    display: inline-block;
    font: 14px/12px Ubuntu;
    color: #8b8b8b;
    padding: 0 0 0 17px;
    vertical-align: top;
}

.content__paragraph {
    margin: 0;
    font: 14px/20px Ubuntu;
    font-weight: 300;
}

.comments__btn-reply {
    display: inline-block;
    font: 14px/28px Ubuntu;
    font-weight: 700;
    color: #4ab6b6;
    background-color: #ffffff;
    border: none;
    padding: 0;
    line-height: 30px;
}

.comments__area {
    width: 91.2%;
    padding: 13px 0 8px 21px;
    font: 14px/24px Ubuntu;
    font-weight: 300;
    color: #8d8c8d;
    background-color: #f0f0f0;
    border: none;
    resize: none;
    outline: none;
}

.comments__nav {
    padding: 0;
}

.nav__item {
    display: inline-block;
    padding: 0 2px;
    margin: 0 0.62%;
    font: 14px/26px Ubuntu;
    font-weight: 400;
    color: #3b3b3b;
}

.nav__item:first-child {
    padding-left: 0;
    margin-left: 0;
}

.nav__item-link {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 57px;
}

.main__section_blog {
    padding-top: 2%;
}

.blog__section {
    width: 100%;
    margin: 27px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.blog__content {
    width: 28.2%;
    background-color: #f6f6f6;
    padding: 20px;
}

.blog__name {
    display: block;
    font: 1.1vw/1.6vw Ubuntu;
    font-weight: 700;
    text-transform: uppercase;
}

.blog__image {
    width: 100%;
    margin: 0;
}

.blog__comments-on {
    display: inline-block;
    min-width: 100px;
    height: 18px;
    border: none;
    background-color: #f6f6f6;
    font: 0.9vw Lato;
    font-weight: 400;
    color: #8b8b8b;
    margin: 0;
}

.blog__btn {
    display: block;
    margin: 4px 0;
    width: 45%;
    font: 0.9vw/2.5vw Ubuntu;
    font-weight: 700;
}

.blog__likes  {
    padding: 0;
    border: none;
    background-color: transparent;
    display: inline-block;
    font: 0.9vw Lato;
    color: #8b8b8b;
    margin: 0 13px 0 0;
}

.likes-image {
    margin-right: 20px;
}

.btn__text {
    display: inline-block;
    padding: 0;
}

.blog__btn:hover {
    color: #ffffff;
}

.blog__comments-on:hover,
.blog__likes:hover {
    cursor: pointer;
}

.blog__comments-on:active,
.blog__likes:active {
    cursor: pointer;
    border: none;
}

.footer__content {
    padding-top: 46px;
}

.footer__title-caption {
    margin: 0 auto;
    font: 36px/38px Ubuntu;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.footer__title-text {
    color: #4ab6b6;
}

.footer__map {
    padding: 0;
    margin: 0 auto;
}

.map__image {
    width: 100%;
    min-height: 150px;
    background: url(../images/footers_icons/map.jpg) no-repeat center;
    display: block;
    position: relative;
    padding: 0;
    margin: 33px 0 0 0;
}

.map__image--mobile {
    display: none;
}

.footer__about-us {
    width: 31.6%;
    height: 150px;
    min-width: 330px;
    display: block;
    background-color: #ffffff;
}

.about-us__content {
    width: 90%;
    padding-left: 20px;
    line-height: 23px;
}

.about-us__info {
    display: block;
    margin: 0;
    padding: 0;
    font: 14px/32px Ubuntu;
    font-weight: 400;
    letter-spacing: 0.012em;
    color: #3b3b3b;
}

.info__image {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px 0 0;
}

.about-us__logo {
    width: 35.4%;
    margin-bottom: 12px;
}

.footer__panel {
    width: 100%;
    background-color: #3b3b3b;
    height: 110px;
}

.panel__follow-us {
    height: 98px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.follow-us__link {
    margin: 33px 0 36px 20px;
}
@media (width: 1600px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }

    .item__link_office {
        margin-left: 51px;
    }

    .list__item {
        height: 450px;
    }

    .video__gallery {
        width: 96.9%;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5%;
        margin: 31px 0;
        position: relative;
    }
}
